<!DOCTYPE html>
<html>
  <head>
    <title>Taskapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%=link_to "HOME",admins_index_path%>
    <%=link_to "新規投稿",articles_new_path%>
    <%=link_to "登録情報変更",edit_admin_registration_path%>
    <%=link_to "ログアウト",destroy_admin_session_path%>
    <div>
    <p><%=current_admin.username%>さん</p>
    <p>管理者ページです</p>
  </div>
    <%= yield %>
  </body>
</html>
