<!DOCTYPE html>
<html>
  <head>
    <title>Taskapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%unless user_signed_in?%>
    <%=link_to "新規登録",new_user_registration_path%>
    <%=link_to "ログイン",new_user_session_path%>

    <%else%>
    <%=link_to "登録情報変更",edit_user_registration_path%>
    <%=link_to "ログアウト",destroy_user_session_path%>
    <%end%>
    <%= yield %>
  </body>
</html>
